DEBUG=True

DJANGO_SECRET_KEY=super-secret-key
DJANGO_ALLOWED_HOSTS=host1,host2,host3

POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db-name
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://localhost:6379/0
