DEBUG=True
DOMAIN=your.domain.example

DJANGO_SECRET_KEY=super-secret-key
DJANGO_ALLOWED_HOSTS=host1,host2,host3
DJANGO_CSRF_TRUSTED_ORIGINS=domain1,domain2,domain3

POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db-name
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
